<html>
    <head>

    </head>    
        <body>
            <form action="/vendors/venues" method="POST">
            <input name="businessName" placeholder="BusinessName">
            <select name="typeOfBusiness">
                <option>General Goods</option>
                <option>Bakery</option>
                <option>Restraunt</option>
                <option>Clothing Goods</option>
                <option>Sandwich Shop</option>
            </select>
            <button type="submit" value="submit">Submit</button>
            <div><%// vouchers%></div>
            </form>
        </body>
</html>