<!DOCTYPE html>
<html lang="en">
<head>
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../public/stylesheets/vendors.css" rel="stylesheet">
</head>
<body>
    <div class="jumbotron">

    <%-include partials/nav.ejs %>
    <h1>vendors</h1>

</div>
<div class="content">
    <ul class="list-group" id="vendorList">
        <% for(var i=0; i<vendors.length; i++) { %>
            <li class="list-group-item"><%= vendors[i].name%></li>
        <% } %>
    </ul>    
    </div>
        
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>
